
#navBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 30%;
}

legend {
  text-align: center;
  margin-top: 4%;
  font-weight: 500;
  color: #777777;
}